# Godot 4+ specific ignores
.godot/
/android/

# Visual Studio 2015 user specific files
.vs/

#Visual Studio Code user specific files
.vscode/
*.code-workspace

#Rider user specific files
.idea/

# GITIGNORE template for Wwise Project

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml

#Something Something macos
.DS_Store
*.TMP
